body{
  background-image: url("../../Assets/Sprites/galaxy-pixel-art.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.button {
    height:250px;
    width:250px;
    background-color: #3c005365;
    border-style: dashed 2px;
    border-color: rgb(24, 0, 24);
    box-shadow: 0px 10px 8px  #150016;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.upgradeButton{
  height:25px;
  width:40px;
  background-color: #dfdfdf;
  border-style: solid 1px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 4px #666666;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Uptext1{
 
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Uptext2{
 
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p{
  display: inline;
}